<h1>User</h2>

Name: <%= @user.name %>

<% if @user.created_events.empty? %>
<div>
    The user has not created any events
</div>
<% else %>
<div>
Created Events:
    <ul>
    <% @user.created_events.each do |event| %>
    <li><%= event.name %></li>
    <% end %>
    </ul>
<% end %>
</div>
<ul>
Attended events:
<% if @user.attended_events.empty? %>
  <p>User is not partying</p>
<% else %>
  <% @user.attended_events.each do |event| %>
    <li><%=link_to event.name, event_path(event) %></li>
  <% end %>
  Previously attended events:
  <% @user.attended_events.where('date <= ?', Date.today).each do |event| %>
    <li><%=link_to event.name, event_path(event) %></li>
  <% end %>
  Upcoming events:
  <% @user.attended_events.where('date >= ?', Date.today).each do |event| %>
    <li><%=link_to event.name, event_path(event) %></li>
  <% end %>
<% end %>
</ul>
<div>
<%= link_to "Create new Event", new_event_path %>
</div>